MONGO_URL="mongodb://localhost:27017"
DB_NAME="test_database"
CORS_ORIGINS="*"
JWT_SECRET="replace-with-random-64char-hex"
ADMIN_EMAIL="parasguptasnl@gmail.com"
ADMIN_PASSWORD="change-me"
RESUME_URL="https://customer-assets.emergentagent.com/job_9473a8b2-690d-4bb7-bc40-9e5efcb0ed78/artifacts/xue19jab_Resume_Paras_Gupta_Updated%20%281%29.docx"